*.class

# Package Files #
*.jar
*.war
*.ear
*.txt
*.zargo~
~*.docx
.classpath
/.settings/*
/target/*
/QA/Calculator/target/*
/QA/Calculator/.settings
/QA/Calculator/testLogs
.project
/target
/testLogs
/QA/Calculator/target
